body {
    --color: blue;
}

table {
    margin: 0 auto;
    border-collapse: separate;
}

caption {
    font-weight: bold;
    font-size: x-large;
}

table div {
    cursor: default;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    border: 3px solid var(--color);
    --cell-size: 10vmin;
    width: clamp(60px, var(--cell-size), 80px);
    height: clamp(60px, var(--cell-size), 80px);
    font-size: clamp(1.5em, 3vmin, 2em);
    vertical-align: middle;
    display: table-cell;
    background-color: var(--color);
    color: white;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes gameover {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.8;
    }

    60% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.4;
    }
}

p {
    text-align: center;
}

#size {
    width: 50px;
}