body {
    --color: blue;
}

table {
    margin: 0 auto;
}

caption {
    font-weight: bold;
    font-size: x-large;
}

div {
    cursor: default;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    position: relative;
    border: 3px solid var(--color);
    width: 49px;
    height: 49px;
    vertical-align: middle;
    display: table-cell;
    background-color: var(--color);
    color: white;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes gameover {
    0% {
        background-color: var(--color);
        border-color: var(--color);
    }

    14% {
        --color1: indigo;
        background-color: var(--color1);
        border-color: var(--color1);
    }

    28% {
        --color1: violet;
        background-color: var(--color1);
        border-color: var(--color1);
    }

    42% {
        --color1: red;
        background-color: var(--color1);
        border-color: var(--color1);
    }

    58% {
        --color1: orange;
        background-color: var(--color1);
        border-color: var(--color1);
    }

    75% {
        --color1: yellow;
        background-color: var(--color1);
        border-color: var(--color1);
    }

    100% {
        --color1: green;
        background-color: var(--color1);
        border-color: var(--color1);
    }
}

p {
    text-align: center;
}

#size {
    width: 50px;
}